@font-face {
  font-family: "Regular";
  src: url("../src/HelveticaNeueLTStd-Lt.otf") format("truetype")
}

@font-face {
  font-family: "Light";
  src: url("../src/OpenSans-Light.ttf") format("truetype")
}

@font-face {
  font-family: "ExtraBold";
  src: url("../src/HelveticaNeueLTStd-Bd.otf") format("truetype")
}

@font-face {
  font-family: "Compacta";
  src: url("../src/Abel-Regular.ttf") format("truetype")
}

@font-face {
  font-family: "Garigoleada";
  src: url("../src/Windsong.ttf") format("truetype")
}

html {
}

hr{opacity:0.2}
p{padding:10px}
a{text-decoration:none}
*:active{border-width:0px}

input:focus{box-shadow:0px 0px 0px rgba(0,0,0,0);-webkit-box-shadow:0px 0px 0px rgba(0,0,0,0);-moz-box-shadow:0px 0px 0px rgba(0,0,0,0)}
label{display:block;font-family:"Light";font-size:9pt;margin-top:10px}
form{padding:0px;margin:0px;text-align:center}
form div{width:40%;display:inline-block;margin-right:5px;margin-top:5px;margin-bottom:5px;vertical-align:top}

form div img{}


#vigi_hora{color:white;border-radius:5px;font-size:30pt; font-family: "ExtraBold"}
#vigi_min{color:white;font-size:15pt;font-family:"Light"}
#vigi_seg{color:white;border-radius:5px;font-size:8pt;display:inline-block;font-family:"Regular"}
#vigi_dn{margin-left:2px;padding-left:5px;padding-right:5px;background-color:white;color:gray;border-radius:2px;font-size:8pt;display:inline-block;font-family:"Compacta";opacity:0.3}
#vigi_horas{background-color:rgba(0, 0, 0, 0.2);border-radius:5px;margin-right:5px}
#vigi_seguridad{font-family:"Compacta";color:white}


body {
  font-family: "Light"; font-size: 12pt;
  margin: 0px;
  text-align: center;
  background-color: white;
  color: black;
}

#beta_buscar{margin:0 auto 0 auto;width:90%;background-color:white;border:1px #CCCCCC solid;text-align:center;border-radius:10px;height:50px; color:black;}
#beta_buscar:hover{border:1px white solid;background-color:#FFC4D1;-moz-box-shadow:2px 1px 19px #FFC4D1;-webkit-box-shadow:2px 1px 19px  #FFC4D1;box-shadow:2px 1px 19px   #FFC4D1; }
#beta_buscar_input{border:0px gray solid;background-color:transparent;font-size:13pt;color:gray;width:103%;font-family:"Compacta";height:47px;outline:none; margin: 0px;}
#beta_buscar_input:hover{color:black}
#beta_buscar_boton{background-color:transparent;border-width:0px;margin-left:0px;cursor:pointer}
#beta_buscar_boton:hover{opacity:1}
#beta_buscar_boton img{width:40px;cursor:pointer}
#beta_buscar_boton img:hover{opacity:0.7}


#modal {
  width: 100%;
  height: 800%;
  background-color: black;
  opacity: 0.8;
  position: absolute;
  top: 0;
  z-index: 100;
  margin: 0px
}

#mensaje {
  color: black;
  text-align: center;
  border-radius: 10px;
  border: 2px solid white;
  background-color: white;
  width: 90%;
  position: absolute;
  top: 0%;
  left: 2%;
  right: 0%;
  z-index: 2010;
  opacity: 1;
  padding: 10px;
  margin: 10px;
  margin-top: 100px;
  transition: all 0.3s cubic-bezier(.46, .03, .52, .96)
}

#mensaje p {
  font-size: 12pt
}

#mensaje a {
  text-decoration: none
}

.msg_padre {
  position: absolute;
  width: 100%;
  height: 100%;
  background: yellow;
  display: table
}

.msg_hijo {
  display: table-cell;
  vertical-align: middle
}

#modal_mantenimiento {
  width: 100%;
  height: 100%;
  background-color: #ffff99;
  opacity: 0.9;
  position: absolute;
  top: 0;
  z-index: 100;
  margin: 0px
}

#modal_oscuro {
  visibility: visible;
  background-color: black;
  opacity: 0.7;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  z-index: 999;
  
}


#modal_error {
  visibility: visible;
  background-color: red;
  opacity: 0.8;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  z-index: 999;
  
}

.tabla2 {
  width: 100%;
  font-size: 10pt;
  font-family: "Regular";
}

.tabla2 a {
}

.tabla2 a:hover {
}

.tabla2 tr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.tabla2 tr:nth-child(even) td {
  background: #FFF7D7;
  padding: 5px;
}

.tabla2 tr:nth-child(odd) td {
  background: #F4F2EC;
  padding: 5px;
}

.tabla2 tr:hover {
  background-color: #A2C30D;
}

.tabla2 th {
  background-color: #B1B1B1;
  color: white;
  text-transform: uppercase;
}

.tabla2 div {
  width: 90%;
  display: inline-block;
}

.tbl_dir {
  width: 100%;
  font-size: 10pt;
  font-family: "Compacta";
}

.tbl_dir  td {
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  border-bottom-color: #CCCCCC;
}

.tbl_dir h3 {
  color: #669900;
}

.tbl_dir a {
}

.tbl_dir div {
  width: 90%;
  display: inline-block;
}

.tbl_dir a:hover {
}

.tbl_dir tr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.tbl_dir tr:nth-child(even) td {
  padding: 5px;
}

.tbl_dir tr:nth-child(odd) td {
  padding: 5px;
}

.tbl_dir tr:hover {
  background-color: #E2EDAD;
}

.tbl_dir th {
  text-transform: uppercase;
}

.tbl_not {
  width: 100%;
  font-size: 11pt;
  font-family: "Compacta";
}

.tbl_not  td {
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  border-bottom-color: #CCCCCC;
}

.tbl_not h3 {
  color: #669900;
}

.tbl_not a {
}

.tbl_not div {
  width: 90%;
  display: inline-block;
}

.tbl_not a:hover {
}

.tbl_not tr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.tbl_not tr:nth-child(even) td {
  padding: 5px;
}

.tbl_not tr:nth-child(odd) td {
  padding: 5px;
}

.tbl_not tr:hover {
  background-color: #F3D0CB;
  cursor: pointer;
}

.tbl_not th {
  text-transform: uppercase;
}

.tabla3 {
  width: 100%;
  font-size: 10pt;
  font-family: "Regular";
}

.tabla3 h3 {
  color: #669900;
}

.tabla3 a {
}

.tabla3 div {
  width: 90%;
  display: inline-block;
}

.tabla3 a:hover {
}

.tabla3 tr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.tabla3 tr:nth-child(even) td {
  background: #DDE8BB;
  padding: 5px;
  color: #669900;
}

.tabla3 tr:nth-child(odd) td {
  background: #F2F8E9;
  padding: 5px;
}

.tabla3 tr:hover {
  background-color: #A2C30D;
}

.tabla3 th {
  background-color: #B1B1B1;
  color: white;
  text-transform: uppercase;
}

.alertado {
  background-color: red;
}

input[type="text"], input[type="number"], input[type="datetime"], input[type="time"], input[type="month"], input[type="week"], input[type="email"], input[type="tel"], input[type="url"], input[type="date"], select {
  width: 97%;
  border: 1px #CCCCCC solid;
  height: 50px; border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

input[type="text"]:focus, input[type="text"]:hover, input[type="number"]:focus, input[type="number"]:hover, input[type="datetime"]:focus, input[type="datetime"]:hover, input[type="time"]:focus, input[type="time"]:hover, input[type="month"]:focus, input[type="month"]:hover, input[type="week"]:focus, input[type="week"]:hover, input[type="email"]:focus, input[type="email"]:hover, input[type="tel"]:focus, input[type="tel"]:hover, input[type="url"]:focus, input[type="url"]:hover, input[type="date"]:focus, input[type="date"]:hover, select:hover, select:focus {
  outline: none;
  background-color: #E6FCCF;
  border-color: #A2C30D;
  transition: all .2s ease-in-out;
}

h1, h2, h3 {
  background-color: transparent;
  color:  #2A2C2E;
}
h1 {
  font-size: 12pt;
}

.normal {
  color: #005BA0;
}

.normal_gris {
  color: #39393C;
}

.ejecutandose {
  color: #A2C30D;
}

.alerta {
  color: red;
}

.tenue {
  color: #707070;
}

.menu_font_n {
  font-size: 8pt;
}

.menu_font_d {
  font-size: 7.7pt;
}

#titulares {
  background-color: #EAEAEA;
  color: white;
  display: inline-block;
  padding: 4px;
  text-align: center;
  width: 100%;
  border-bottom-style: solid;
  border-bottom-width: 0px;
  border-bottom-color: #CCCCCC;
}

#titulares b {
  color: #005BA0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Regular";
  font-size: 12pt;
  text-transform: uppercase;
}

.tabla_limpia {
  background-color: transparent;
}

.tabla {
  width: 100%;
  font-size: 9pt;
  font-family: "Regular";
}

.tabla a {
}

.tabla a:hover {
}

.tabla tr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.tabla tr:nth-child(even) td {
  background: #E8E8E8;
  padding: 5px;
  opacity: 0.8;
}

.tabla tr:nth-child(odd) td {
  background: white;
  padding: 5px;
  opacity: 0.8;
}

.tabla_display {
  width: 100%;
  font-size: 14pt;
  font-family: "Compacta";
}

.tabla_display a {
}

.tabla_display a:hover {
}

.tabla_display tr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.tabla_display tr:nth-child(even) td {
  background: #30312B;
  color: white;
  padding: 5px;
  opacity: 0.8;
}

.tabla_display tr:nth-child(odd) td {
  background: #171715;
  color: white;
  padding: 5px;
  opacity: 1;
}

.tabla_limpia tr:nth-child(even) td {
  background: transparent;
}

.tabla_limpia tr:nth-child(odd) td {
  background: transparent;
}

.tabla tr:hover {
  background-color: #A2C30D;
}

.tabla th {
  background-color: #B1B1B1;
  color: white;
  text-transform: uppercase;
}

#directorio a {
  color: inherit;
}

.btn{border:none;cursor:pointer;display:inline-block;outline:none;position:relative;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;transition:all 0.3s;-webkit-transition:none;-moz-transition:none;transition:none;border-radius:4px;padding-right:10px;padding-left:10px;padding-top:10px;padding-bottom:10px;margin-top:0px}
.btn:after{content:'';position:absolute;z-index:-1;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;transition:all 0.3s}
.btn img{width:23px}
.btn a{text-decoration:none;color:inherit;font-family:inherit}

s {
  color: #adad85;
  text-decoration: none;
}

.btn-default {
  background-color: #2A2C2E;
  color: white;
  font-family: "Compacta";
  font-weight: bold;
  text-shadow: 0 1px black;
  box-shadow: 0 3px black;
  font-size: 14pt;
}

.btn-default:hover {
  box-shadow: 0 1px #2A2C2E;
  background-color: #006699;
  top: 2px;
}

.btn-default:active {
  box-shadow: 0 0 #75a3a3;
  top: 6px;
}






.btn-default2 {
  background-color: white;
  color: #2A2C2E;
  font-family: "Compacta";
  font-weight: bold;
  text-shadow: 0 1px black;
  box-shadow: 0 3px #006699;
  font-size: 14pt;
}

.btn-default2:hover {
  box-shadow: 0 1px #2A2C2E;
  background-color: #006699;
  top: 2px;
}

.btn-default2:active {
  box-shadow: 0 0 #75a3a3;
  top: 6px;
}






.btn-secundario {
  background-image: url("../img/maya4.png");
  background-color: #c2d6d6;
  color: #75a3a3;
  box-shadow: 0 3px #75a3a3;
  font-family: "Compacta";
}

.btn-secundario:hover {
  box-shadow: 0 1px #75a3a3;
  background-color: #a3c2c2;
  top: 2px;
}

.btn-secundario:active {
  box-shadow: 0 0 #75a3a3;
  top: 6px;
}

.btn-tercero {
  background-color: #c2d6d6;
  color: #75a3a3;
  font-family: "Light";
  box-shadow: 0 3px #75a3a3;
}

.btn-tercero:hover {
  box-shadow: 0 1px #75a3a3;
  background-color: #a3c2c2;
  top: 2px;
}

.btn-tercero:active {
  box-shadow: 0 0 #75a3a3;
  top: 6px;
}

.btn-cancel {
  background-color: #b30000;
  color: #ff4d4d;
  font-family: "ExtraBold";
  box-shadow: 0 3px #4d0000;
}

.btn-cancel:hover {
  box-shadow: 0 1px #4d0000;
  background-color: #800000;
  top: 2px;
}

.btn-cancel:active {
  box-shadow: 0 0 #4d0000;
  top: 6px;
}

.btn-search {
  background-color: #005BA0;
  color: white;
  font-family: "ExtraBold";
}

.btn-search:hover {
  background-color: #204060;
  top: 2px;
}

.btn-search:active {
  top: 6px;
}

.tabla2 {
  width: 100%;
  font-size: 10pt;
  font-family: "Regular";
}

.tabla2 a {
}

.tabla2 a:hover {
}

.tabla2 tr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.tabla2 tr:hover {
  background-color: #A2C30D;
}

.notifi_activas {
  text-align: center;
  background-color: red;
  color: white;
  font-family: "ExtraBold";
  margin: 0px;
  text-decoration: none;
  font-size: 14pt;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border-color: white;
  border-style: solid;
  border-width: 1px
}

.notifi_cero {
  text-align: center;
  background-color: #004477;
  color: gray;
  font-family: "ExtraBold";
  margin: 0px;
  text-decoration: none;
  font-size: 14pt;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border-color: white;
  border-style: solid;
  border-width: 0px
}

#footer {
  background-color: #DDC6D8;
  border-top-style: dashed;
  border-top-color: #2A2C2E;
  border-top-width: 1px;
  margin-top: 200px;
  color: #2A2C2E;
  padding: 20px;
  padding-bottom: 500px;
}

#footer a {
  color: #2A2C2E;
  text-decoration: none;

  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
}


#footer a:hover {
  color: white;
  text-decoration: none;

  background-color: #2A2C2E;
  padding: 10px;
  border-radius: 5px;
}

.visible {
  display: block
}

.invisible {
  display: none
}

#preloader {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loader {
  width: 80%
}

.preloaderimg {
  width: 20%
}

#superior {
  opacity: 1;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: #2A2C2E;
  transition: all .4s linear;
  border-bottom: 0px #C7D1CD solid;
  -moz-box-shadow: 0px 6px 6px  rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px  6px 6px  rgba(0, 0, 0, 0.5);
  box-shadow: 0px  6px 6px  rgba(0, 0, 0, 0.5)
}

.blanco {
  filter: contrast(0%) brightness(300%) grayscale(100%)
}



#superior table {
  width: 100%
}

#superior a {
  color: white;
  text-decoration: none;
}

.pc {
}

.movil {
  display: none
}

#grancontenido {
  margin-top: 75px;
  width: 100%;
  background-color: transparent;
}

#aplicaciones_free{
  width: 20%; display: inline-block;
  border: 1px solid #DDC6D8;
  border-radius: 5px;
  vertical-align: top;
  overflow: auto;
  margin: 10px;

    -moz-box-shadow: -2px 2px 0px #CDCDCD;
  -webkit-box-shadow: -2px 2px 0px #CDCDCD;
  box-shadow: -2px 2px 0px #CDCDCD;
}
#aplicaciones_free:hover {

  
}

#aplicaciones_free article {
  width: 97%;  
  display: inline-block;
  margin: 2px;

}
#aplicaciones_free article:hover  {
  cursor: pointer; opacity: 0.6;
}

#aplicaciones_free article a {
  color: inherit; text-decoration: none;
}

#aplicaciones_free img {
  
}













#aplicaciones{
  width: 40%; display: inline-block;
  border: 1px solid #DDC6D8;
  border-radius: 5px;
  vertical-align: top;
  overflow: auto;
  margin: 10px;

    -moz-box-shadow: -2px 2px 0px #CDCDCD;
  -webkit-box-shadow: -2px 2px 0px #CDCDCD;
  box-shadow: -2px 2px 0px #CDCDCD;
}
#aplicaciones:hover {

  
}


#aplicaciones article {
  border-left-style: dashed;
  border-left-width: 1px;
  border-left-color: #707070;
  width: 30%;  
  display: inline-block;
  margin: 2px; vertical-align: top;

}
#aplicaciones article:hover  {
  cursor: pointer; opacity: 0.6;
}

#aplicaciones article a {
  color: inherit; text-decoration: none;
}




.icono {
  width: 32px; height: 32px;

}
label {
  font-family: "Light";
  font-size: 8pt;
  color: #2A2C2E  ;
}
input[type='text']{
  
}

@media only screen and (max-width:500px) {
  .pc {
    display: none
  }

  .movil {
    display: inline-block
  }
#grancontenido {width: 97%;}
#aplicaciones_free{ width: 100%;  }
#aplicaciones_free label {display: none;}
#aplicaciones_free article {
  width: 97%;  
}


#aplicaciones{ width: 100%;  }
#aplicaciones label {display: none;}
#aplicaciones article {
  width: 97%;  
}
}
