@font-face{font-family:"Regular";src:url("../lib/OpenSans-Regular.ttf") format("truetype")}
@font-face{font-family:"Light";src:url("../lib/OpenSans-Light.ttf") format("truetype")}
@font-face{font-family:"Bold";src:url("../lib/OpenSans-ExtraBold.ttf") format("truetype")}
#modal_error{visibility:visible;opacity:1;background-color:#7D0000;opacity:0.9;position:fixed;top:0;left:0;right:0;bottom:0;margin:0;z-index:809;transition:all 1s;width:100%}
#modal_oscuro{visibility:visible;opacity:1;background-color:rgba(0,0,0,0.8);opacity:0.9;position:fixed;top:0;left:0;right:0;bottom:0;margin:0;z-index:999;transition:all 1s;width:100%}
#mensaje{color:black;text-align:center;border-radius:10px;border:2px solid white;background-color:white;width:50%;position:absolute;top:20%;left:20%;right:20%;z-index:2010;opacity:1;padding:20px;margin:10px;margin-top:100px;transition:all 5s cubic-bezier(.46,.03,.52,.96)}
#mensaje p{font-size:12pt}
#mensaje a{text-decoration:none}
#mensaje img{width:60%;height:50%}
#msg_error{color:red;text-align:center;border-radius:10px;border:2px solid red;background-color:white;width:50%;position:absolute;top:20%;left:20%;right:20%;z-index:2010;opacity:1;padding:20px;margin:10px;margin-top:100px;transition:all 5s cubic-bezier(.46,.03,.52,.96)}
#msg_error p{font-size:12pt}
#msg_error a{text-decoration:none}
#msg_error img{width:60%;height:50%}
#GranContenido{
    margin-left:50px;
    text-align: center;
    
}
#MenuTop{
    width: 95%;
    text-align: right;
    padding-right: 5px;
    font-family: Light;
    
}

body{
    font-family: Regular;
    font-size:10pt;
    margin:0px;
    
}

form div {
    display: inline-block;
    margin:10px;
}
form div  label {
    font-family: Light;
    font-size:8pt;
    color:gray;
    display:block

}

input[type="text"] ,input[type="number"] ,input[type="password"],input[type="date"], input[type="time"]   {
    height:50px;
    border-width:0px;
    background-color:#F0F0F0;
    font-size:12pt;
        border-radius:0px;
        width:100%;
}
input[type="submit"] 
{
     text-decoration: none; 
}

.btn { text-shadow: -2px 3px 4px rgba(0, 0, 0, 0.6); border-width:0px;
    font-size: 12pt;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.btn img { -webkit-box-shadow: -7px 1px 42px -12px rgba(0, 0, 0, 0.75); -moz-box-shadow: -7px 1px 42px -12px rgba(0, 0, 0, 0.75); box-shadow: -7px 1px 42px -12px rgba(0, 0, 0, 0.75); filter: drop-shadow(2px 2px 5px #444); }

.btn-Primary{background-color:#0064A7;color:white;font-family:"Bold";box-shadow:0 3px #005a96;}
.btn-Primary:hover{box-shadow:0 1px #005a96;background-color:#004674;top:2px;}
.btn-Primary:active{box-shadow:0 0 #005a96;top:6px;}

.btn-Default{background-color:#CDCDCD;color:white;font-family:"Bold";box-shadow:0 3px #CDCDCD;}
.btn-Default:hover{box-shadow:0 1px #CDCDCD;background-color:#CDCDCD;top:2px;}
.btn-Default:active{box-shadow:0 0 #A4A4A4;top:6px;}


.btn-Secondary{background-color:#9077DF;color:white;font-family:"Bold";box-shadow:0 3px #9077DF;}
.btn-Secondary:hover{box-shadow:0 1px #9077DF;background-color:#9077DF;top:2px;}
.btn-Secondary:active{box-shadow:0 0 #7652C9;top:6px;}

.btn-Success{background-color:#8CC749;color:white;font-family:"Bold";box-shadow:0 3px #8CC749;}
.btn-Success:hover{box-shadow:0 1px #8CC749;background-color:#8CC749;top:2px;}
.btn-Success:active{box-shadow:0 0 #85B068;top:6px;}

.btn-Warning{background-color:#FF784A;color:white;font-family:"Bold";box-shadow:0 3px #FF784A;}
.btn-Warning:hover{box-shadow:0 1px #FF784A;background-color:#FF784A;top:2px;}
.btn-Warning:active{box-shadow:0 0 #FF5C26;top:6px;}

.btn-Danger{background-color:#DC4450;color:white;font-family:"Bold";box-shadow:0 3px #DC4450;}
.btn-Danger:hover{box-shadow:0 1px #DC4450;background-color:#DC4450;top:2px;}
.btn-Danger:active{box-shadow:0 0 #FF2626;top:6px;}

#MenuVertical_list{height:50%;width:50px;overflow:auto;background-color:red}
#MenuVertical{
    position:fixed;left:0px;z-index:5000;top:0px;width:50px;height:100%;padding-top:10px;background-color:#373737;
    
    -webkit-box-shadow: 7px -6px 4px -7px rgba(0,0,0,0.75);
    /* -moz-box-shadow:10px 0px 11px -8px rgba(0,0,0,0.75);
    box-shadow:10px 0px 11px -8px rgba(0,0,0,0.75)} */
}

#MenuVertical img:hover {opacity: 0.6;}
#AppTitular{
    background-color:
#fff0db;

box-shadow: 2px 2px 5px 0px
rgba(174, 174, 174, 0.75);
}
.app_titulo{
    font-family: REgular;

font-weight: bold;

font-size: 12pt;
}
.app_des{
    font-family: Light;



font-size: 9pt;
}

#AppContenedor{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin: 0px;
    align-items: stretch;
    justify-items: stretch;
    justify-content: center;
    align-content: center;
    /* background-color: #CACACA; */
}

.AppCategoria{
    border-radius: 2px;
    background-color: white;
    background-color: rgb(255,255,255);
    border: 1px #DFE0E2 solid;
    vertical-align: top;
    overflow: hidden;
    margin: 10px;
    border-radius: 4px;
    background-image: linear-gradient(#ddd,white,#e9e6e6);
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.75);

}
.BtnApps{
    

}

.BtnApps:hover{
    background-color: #8CC749;
    

}

h4{
    text-align: center;

margin-top: 4px;

font-family: Light;

font-weight: 0px;

font-size: 11pt;

font-weight: normal;

color:
gray;
}
@media only screen and (max-width:1000px){

    #AppContenedor{
        display: grid;
        grid-template-columns: 30% 30% 30%;
    }

}


@media only screen and (max-width:800px){
    form div {
        width:40%;
    }

    form div input {
        width:100%;
    }
    #AppContenedor{
        display: grid;
        grid-template-columns: 40% 40% ;
    }

}




@media only screen and (max-width:600px){
    form div {
        width:90%;
    }

    form div input {
        width:100%;
    }

    #AppContenedor{
        display: grid;
        grid-template-columns:90%;
    }

}